# env secrets
.env

# built outputs
build/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool incl. any html-formatted output (jic; tho we don't use html formats)
*.out
*.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# ticketizer files
tickets.*
REVIEW.md
ROADMAP.md
